body {
    font-family: 'Poppins', sans-serif;
    background-color: #0f0f0f;
    color: #F5F5F5;
    padding-top: 80px;
}
header{
    background-color: #8B0000;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p {
    line-height: 1.8;
}
section{
    padding: 60px 0;
}

/* NAV */
.navbar{
    background-color: #1F1F1F !important;
    padding: 15px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: top 0.4s;
}
.navbar-brand{
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
    color: white !important;
}
.navbar-nav .nav-link{
    color: #ffffff !important;
    margin-left: 15px;
    font-size: 16px;

}
.navbar-nav .nav-link:hover{
    color: #E63946 !important;
}

/* BOTONES */
.btn-danger {
    border-radius: 30px;
}

/* HERO */
.hero{
    height: 60vh;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.9)),
                url('../img/logo.png');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 10px 20px;
}
.hero h1{
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 1px;
}
.hero p{
    font-size: 18px;
    font-weight: 300;
}

/* PRODUCTOS */
.productos h2{
    color: #ffffff;
    margin-bottom: 40px;
    font-size: 32px;
    font-weight: 600;
}
.productos{
    background-color: #1f1f1f;
    padding: 40px 20px;
    text-align: center;
}
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

/* CARDS */
.card{
    background: #F5F5F5;
    box-shadow: 0 5px 15px rgba(0, 0,0,0.4);
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s ease;
}
.card:hover {
    transform: scale(1.05);
}
.card img{
    height: 260px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card h5, .card h3{
    font-weight: 600;
    font-size: 20px;
}
.card p{
font-size: 14px;
color: #555;
}




.beneficios .col-md-3{
background-color: #B22222;
border-radius: 10px;
padding: 25px;
margin-top: 20px;
transition: transform 0.3s;
}
.beneficios .col-md-3:hover{
    transform: translateY(-5px)
}
.beneficios{
    background-color: #1a1a1a;
    padding: 60px 20px;
}
.beneficios h2{
color: #ffffff;
font-size: 32px;
margin-bottom: 40px;
}

/* FOOTER */
.footer{
    background-color: #0D0D0D;
    border-top: 1px solid #222;
    color: white;
    padding: 30px;
}
.promo{
    background-color: #9B111E;;
    color: white;
    padding: 60px;
}


/* TIMELINE */
.timeline {
    position: relative;
    margin: 0 auto;
    padding: 20px 0;
    width: 80%;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 4px;
    background: #ff3b3b;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -2px;
}

.timeline-item {
    padding: 20px;
    position: relative;
    width: 50%;
}

.timeline-item:nth-child(odd) {
    left: 0;
}

.timeline-item:nth-child(even) {
    left: 50%;
}

.timeline-content {
    background: #1a1a1a;
    padding: 20px;
    border-radius: 10px;
    position: relative;
}

.timeline-content h4 {
    color: #ff3b3b;
}

/* PUNTOS */
.timeline-item::before {
    content: '';
    position: absolute;
    top: 25px;
    right: -10px;
    width: 20px;
    height: 20px;
    background: #ff3b3b;
    border-radius: 50%;
}

.timeline-item:nth-child(even)::before {
    left: -10px;
}

/* FORM */
.form-control {
    background-color: #1a1a1a;
    border: none;
    color: white;
}

.form-control:focus {
    background-color: #1a1a1a;
    color: white;
    box-shadow: 0 0 5px #ff3b3b;
}

/* BOTON */
.btn-danger {
    border-radius: 30px;
    padding: 10px;
}

/*MAPA*/
.mapa iframe {
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.4);
}

/*Terminos y Usos*/


/* HERO LIMPIO */
.hero-legal {
    height: 35vh;
    background: linear-gradient(rgba(0,0,0,0.85), rgba(0,0,0,0.95)),
                url('../img/legal.jpg');
    background-size: cover;
    background-position: center;
}

/* BLOQUES LEGALES */
.legal-block {
    padding: 20px 0;
    border-bottom: 1px solid rgba(255,255,255,0.08);
}

.legal-block h4 {
    font-weight: 600;
    margin-bottom: 10px;
}

/* LISTAS */
ul {
    padding-left: 18px;
    list-style: none;
}

ul li {
    margin-bottom: 6px;
    color: #ccc;
}
/* ICONO PAGO*/
.icono-pago{
    width: 120px;
    margin-bottom: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    transition: transform 0.3s
}
.icono-pago:hover{
transform: scale(1.15);
}